# Virtual Environment
.venv/

# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# mypy
.mypy_cache/

# State
storage/state.json

# OS
.DS_Store
Thumbs.db
